<h1>Hotels</h1>
 <link href="css/css/home.css" rel="stylesheet" type="text/css">
  <link href="css/css/custom.min.css" rel="stylesheet" type="text/css">
   <link href="css/css/leftContent.css" rel="stylesheet" type="text/css">


<button class="btn btn-info btn-md" href="" data-toggle="modal" data-target="#addHotel"><span class="fa fa-plus"></span>
   Add Hotel
    </button>
<div ng-controller="hotelController">
    <div>
        <div class="modal" id="addHotel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add Hotel</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form enctype="multipart/form-data">
                            <div class="adding-section">
                                <input type="text" required class="form-control" placeholder="Name of hotel" ng-model="hotels.hotel_name"><br>
                                <input type="text" class="form-control" placeholder="Address of hotel" ng-model="hotels.exact_address">
                                <br>
                                <div ng-controller="locationController">
                                    <select name="" required class="form-control" id="" ng-model="hotels.location">
                                <option value="">--select location--</option>
                                <option value="{{location._id}}"  ng-repeat="location in locationData">{{location.tourism_area}}</option>
                            </select>
                                </div>
                                <br>

                                <input type="number" required class="form-control" placeholder="Contact of hotel" ng-model="hotels.contact"><br>
                                <input type="number" required class="form-control" placeholder="Price" ng-model="hotels.price"><br>
                                <input type="text" required class="form-control" placeholder="Website of hotel" ng-model="hotels.website"><br>
                                <div class="form-group">
                                    <label for="location name">Anemities</label> <br>
                                    <input type="checkbox" ng-model="hotel.Resto">
                                    <label for="">In House Resto</label>
                                    <input type="checkbox" ng-model="hotel.CCTV">
                                    <label for="">CCTV</label>
                                    <input type="checkbox" ng-model="hotel.Kitchen">
                                    <label for="">Kitchen</label>
                                    <input type="checkbox" ng-model="hotel.Bar">
                                    <label for="">Bar</label>
                                    <input type="checkbox" ng-model="hotel.WiFi">
                                    <label for="">Free WiFi</label>
                                    <input type="checkbox" ng-model="hotel.tub">
                                    <label for="">Bath tub</label>
                                    <input type="checkbox" ng-model="hotel.Parking">
                                    <label for="">Parking</label>
                                    <input type="checkbox" ng-model="hotel.AC">
                                    <label for="">AC</label>
                                    <input type="checkbox" ng-model="hotel.Card">
                                    <label for="">Card Payment</label>
                                    <input type="checkbox" ng-model="hotel.TV">
                                    <label for="">TV</label>
                                    <input type="checkbox" ng-model="hotel.Heater">
                                    <label for="">Room Heater</label>
                                </div>
                                <div class="col-sm-6 col-md-6 inner-form">
                                    <label for="Property type">Images Of Property* [files must be 2 to 5.]</label><br>
                                    <input type="file" id="file-input" placeholder="Street Name" class=" form-control" name="images" file-model="files" multiple required>
                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                                    <div id="preview"></div>
                                </div>
                                <textarea name="" id="" class="form-control" rows="10" placeholder="Description of hotel..." ng-model="hotels.description"></textarea>
                                <textarea name="" id="" class="form-control" rows="6" placeholder="Hotel Rules" ng-model="hotels.rules"></textarea>
                                <textarea name="" id="" class="form-control" rows="6" placeholder="Hotel Terms and conditions" ng-model="hotels.termsandconditions"></textarea>
                                <!-- <div class="col-sm-12 col-md-12 news-content"> -->
                                <h5> Pick Hotel location to update map</h5>
                                <div class="col-sm-12 col-md-12" style="padding: 0px 20px 16px 19px;">
                                    <div id='hotelmap' style='width: 100%; height: 300px;'></div><br>
                                    <div style="width:50%;">
                                        <label for="">Longitude 
                                        <pre id='lng'></pre></label>
                                        <label for="">Latitude 
                                        <pre id='lat'></pre></label><br>
                                    </div>
                                    <!-- <div style="width: 40%;float: right;margin-top: -75px;">
                                    <label for="">Saved Lng
                                        <pre>{{weather.latitude}}</pre></label>
                                    <label>Saved Lat
                                        <pre>{{weather.longitude}}</pre></label><br>
                                </div> -->
                                    <label for="">{{message}}</label>
                                </div>
                            </div>
                        </form>
                        <!-- </div> -->
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button class="btn btn-outline-success" ng-click="saveHotel('','hotel',lat, lng)" data-dismiss="modal">Save Hotel</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <label for="" ng-if="successMessage" class="alert alert-success" style="width: 80%;
    position: fixed;
    top: 65px;">{{successMessage}}</label>
        <h2>All hotels <span class="" style="float: right">{{hotelData.length}}</span></h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Hotel Name</th>
                    <th>Price</th>
                    <th>Address</th>
                    <th>Booking Status</th>
                    <th>Contact</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dat in hotelData">
                    <td>{{dat.hotel_name}}</td>
                    <td>{{dat.price}}</td>
                    <td>{{dat.exact_address}}</td>
                    <td>{{dat.bookingStatus}}</td>
                    <td>{{dat.contact}}</td>
                    <td><button class="fa fa-trash btn btn-danger" ng-click="removeHotel(dat._id)">
                    </button>
                        <button class="fa fa-pencil btn btn-info"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>